html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f5f0ea;
  overflow-x: hidden;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
